directio==1.2
flake8==2.5.1
paramiko==2.1.2
pytest==2.7.1
pytest-xdist==1.16.0
requests==2.6.0
cattle==0.5.3
selenium==2.33.0
websocket-client==0.23.0
docker-py==1.2.3
githubpy==1.1.0
boto==2.46.1
Jinja2==2.9.6
git+https://github.com/rancher/gdapi-python.git@0.5.4